<h2>Artists</h2>
<ul>
  <% @artists.each do |artist| -%>
    <li><%= artist.name %></li>
  <% end %>
</ul>

<%= link_to "Create a new Artist", new_artist_path %>
<%= link_to "Create a new Customer", new_customer_path %>
