<h1>Artisan Assistant</h1>

<p>Are you a tattoo artist, or do you manage a tattoo shop? Artisan Assistant is the simplest way to manage your customer's information. For example, you can find your customer's phone number with just their name, or see when their next appointment is.</p>

<h3>Still being built!</h3>

<p>Sorry, we're not ready yet! You may want to check out
<%= link_to "our blog", posts_path %>.</p>
